{%extends "base.html"%}
{%block title%}<title>About</title>{%endblock%}
{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet ex ac arcu viverra ultricies. Suspendisse vestibulum, justo rutrum maximus porta, magna ligula sollicitudin erat, nec ultricies enim neque in nisi. Quisque euismod magna sit amet mauris vestibulum dignissim. Pellentesque congue orci vitae sagittis semper. Maecenas maximus, est non dictum convallis, quam urna auctor urna, in condimentum metus nibh nec est. Morbi ornare augue sit amet ligula vehicula, nec porttitor ex convallis. Sed lacinia cursus velit, sed tincidunt velit. Donec vulputate tortor tincidunt lorem mattis, id sagittis nulla pellentesque. Vestibulum bibendum mattis pretium.
                    <br><br><br>
                    Curabitur porttitor sapien quis sem rhoncus posuere. Sed id augue sapien. Maecenas volutpat, lorem at ultrices tristique, neque tellus scelerisque turpis, vitae congue nisl mi eu nisl. Aenean eget tincidunt metus. Donec efficitur ipsum malesuada sem viverra condimentum. Nulla venenatis euismod tempus. Nullam accumsan massa turpis, in pharetra urna efficitur non.
                    <br><br><br>
                    Donec molestie lectus tempus, consequat erat ut, finibus dolor. Morbi consequat nisl nec ante scelerisque, quis luctus urna ornare. Praesent a urna quis lorem aliquet auctor. Integer accumsan condimentum luctus. Integer vel ligula dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus mollis, ante ut auctor ullamcorper, purus nibh pulvinar urna, sit amet mattis dui turpis in ipsum. Integer sed lorem suscipit, ornare nulla eu, tempus velit. Nunc nibh ipsum, placerat sed massa nec, gravida cursus dui. In feugiat libero lorem, a finibus dolor dignissim eu. Nulla sed diam luctus, aliquet sem quis, iaculis nunc. Phasellus diam quam, vulputate ac aliquam in, sodales quis mi. Donec ut nunc posuere, finibus leo vel, ultrices augue. Pellentesque in cursus tortor, vel tempus elit. Cras id faucibus orci. Curabitur ut accumsan enim, at vehicula dolor.
                    <br><br><br>
                    Sed porta leo metus, ut rhoncus neque rutrum id. Nam vitae rhoncus nulla, quis blandit eros. Duis sit amet porta ligula. Etiam ut metus blandit, accumsan odio et, porttitor risus. Integer faucibus lectus vel nisi tincidunt blandit. Aenean id sollicitudin quam. Praesent hendrerit efficitur quam. In hac habitasse platea dictumst. Mauris luctus elit mauris, ac lobortis purus sollicitudin a. Duis dapibus nisl velit, aliquam pellentesque ante sagittis eget. Ut tempor, ligula at suscipit mollis, eros nulla luctus est, nec pharetra dui mi ut mi. Vivamus auctor tellus et nisi tincidunt facilisis.
                    <br><br><br>
                    Maecenas sit amet ullamcorper lacus. Ut posuere placerat mi nec rutrum. Curabitur dui libero, sodales non lacinia tempus, faucibus vitae magna. Cras suscipit magna et dui vestibulum, eu luctus justo dignissim. Ut viverra egestas massa ut sagittis. Quisque luctus interdum ligula sit amet scelerisque. In id est non nunc egestas placerat nec luctus urna. Vestibulum vulputate nisi non leo tempus sollicitudin. Donec id sapien sit amet lacus egestas semper. In nibh felis, mollis eget ornare eget, lobortis at mi. Aenean scelerisque id dui sed porta. Donec lacinia consectetur dolor, in iaculis odio venenatis a. Proin placerat orci urna, id egestas tortor placerat malesuada. Sed in augue vitae nisi vulputate lacinia quis congue arcu. Vestibulum tincidunt dui non turpis consequat, in luctus tortor laoreet. Integer a lobortis orci, a posuere lorem.
                </p>
            </div>
        </center>
    </div>
</div>
{%endblock%}